body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-size: 18px;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    grid-template-columns: repeat(3, 1fr);
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    height: 400px;
    width: 400px;
    display: grid;
    margin: 10px;
    gap: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-bottom: solid 4px black;
    border-top: solid 4px black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    border: solid 2px black;
}

.square:hover {
    backdrop-filter: brightness(0.7);
}

.status-container {
    margin: 75px;
    gap: 50px;
    border-left: solid 4px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.player1,
.player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.player1 > *,
.player2 > * {
    font-weight: 400;
}