body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-size: 18px;
}

.gameboard {
    height: 400px;
    width: 400px;
    display: grid;
    margin: 10px;
    gap: none;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-bottom: solid 4px black;
    border-top: solid 4px black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    border: solid 2px black;
}

.square:hover {
    backdrop-filter: brightness(0.7);
}